.features-serices {
  // max-width: 370px;
  margin-top: 26px;
}

.features-serices__list {
  list-style: none;
  text-transform: uppercase;
}

.features-serices__wrapper {
  display: flex;
  align-items: center;
}

.features-serices__title {
  margin-left: 13px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.features-serices__description {
  font-size: 20px;
  margin-left: 50px;
}

@media (min-width: @tablet-width) {
  .features-serices__list {
    margin: 0 auto;
    display: flex;

  }

  .features-serices__wrapper {
    flex-direction: column;
  }

  .features-serices__title {
    margin: 25px 0;
  }

  .features-serices__description {
    text-align: center;
    font-size: 14px;
    margin-left: 0;
  }
}

/*************************************
 * desktop styles
 *************************************/
@media (min-width: @desktop-width) {
  .features-serices {
    width: @desktop-width;
    margin: 0 auto;
    // margin-right: 50px;
  }
}
