.gallery {
  width: @mobile-width;
  margin: 20px auto;
  text-transform: uppercase;
  text-align: center;
}

.gallery__header {
  margin-top: 32px;

}

.gallery__description {
  margin-bottom: 20px;
}

.line {
  margin: 20px 0;
  height: 1px;
  background-color: @gray-mercury;
}
