.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.picture__title{
  font-weight: bold;
  text-transform: uppercase;
}

.picture__likes-counter {
  display: flex;
  align-items:center
}

.picture__like-button {
  padding: 0;
  background: none;
  border: transparent;
  cursor: pointer;
  fill: #b2b2b2;
}

.picture__count {
  font-weight: bold;
  margin-left: 15px;
}
